body {
    font-family: "Montserrat", sans-serif;
    background-color: #f5f7fa;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

.main-content {
    background-color: #fff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}

.about {
    margin-bottom: 40px;
}

.about-position,
.about-name,
.about-description {
    font-style: normal;
}

.about-position {
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.about-name {
    font-weight: 700;
    font-size: 35px;
    line-height: 55px;
    color: #240707;
    margin-bottom: 25px;
}

.about-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 500px;
}

.projects {
    margin-bottom: 50px;
}

.title,
.projects-item,
.project,
.project-link,
.project-bracket {
    font-style: normal;
}

.title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.projects-list {
    padding: 0;
    margin-left: 15px;
}

.projects-item,
.project-bracket {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project,
.project-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project-link {
    margin-left: 10px;
}

.work-position,
.organization {
    font-style: normal;
    font-weight: 700;
}

.work-position {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.organization {
    font-size: 16px;
    line-height: 20px;
    color: #fb6d3a;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
    margin-bottom: 8px;
}

.line,
.work-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.work-list {
    padding: 0;
    margin-left: 15px;
}

.education-place,
.education-specialization {
    font-style: normal;
    font-weight: 700;
}

.education-title {
    font-size: 16px;
    line-height: 20px;
    color: #fb6d3a;
    margin-bottom: 4px;
}

.education-place {
    font-size: 16px;
    line-height: 20px;
    color: #fb6d3a;
}

.education-specialization {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.sidebar {
    background-color: #1e2939;
    padding-top: 40px;
    width: 370px;
}

.photo {
    width: 370px;
    margin-bottom: 35px;
}

.contacts,
.tech-skills,
.soft-skills,
.languages {
    margin-left: 40px;
    margin-bottom: 35px;
}

.certificates {
    margin-left: 40px;
}

.sidebar-title {
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 5px;
}

.contact-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    margin-right: 7px;
}

.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    opacity: 0.5;
}

.tech-skills-list,
.soft-skills-list,
.languages-list {
    color: #ffffff;
    padding: 0;
    margin-left: 17px;
}

.tech-skills-item,
.soft-skills-item,
.languages-item {
    color: #fb6d3a;
}

.tech-skills-text,
.soft-skills-text,
.languages-text {
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.linkedin-image {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90px;
}

.social-link {
    display: inline-block;
    margin-right: 25px;
}

.github-image {
    height: 42px;
}

.messenger-link {
    display: inline-block;
    margin-left: 10px;
}

.messenger-image {
    width: 15px;
    margin-bottom: -2px;
}

.edu-link {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #fb6d3a;
    text-decoration: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #ffffff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.projects-item-modal {
    font-weight: 400;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    font-family: Arial, sans-serif;
    color: #333;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ddd;
}

.project-detail {
    font-size: 0.9em;
    font-style: italic;
}

.projects-item-modal {
    margin-bottom: 10px;
}

.spacer {
    margin-top: 10px;
}

.in-modal-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 90%;
    list-style-type: circle;
}

ul li:first-child {
    margin-top: 0;
}

.bold-italic-text-blue {
    font-weight: bold;
    font-style: italic;
    color: #5097c2;
}

#hiddenInstruction {
    background-color: #F0F0F0;
    text-decoration: underline;
    color: #2f2ff8;
}

.certificates {
    margin-top: 20px;
}

.certificate-thumbnails {
    display: flex;
    flex-wrap: wrap;
}

.certificate-thumbnails-h4 {
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 10px;
}

.certificate-single,
.certificate-pair {
    display: flex;
    justify-content: flex-start;
    flex-basis: 100%;
}

.certificate-thumbnail {
    height: 80px;
    margin: 5px;
    cursor: pointer;
    flex: 0 0 auto;
}

.certificate-thumbnail:hover {
    opacity: 0.8;
}

.certificate-pair .certificate-thumbnail:not(:last-child) {
    margin-right: 10px;
}

.certificate-single {
    margin-bottom: 10px;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible:hover {
    background-color: #ccc;
}

.content {
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 0 18px;
}

.collapsible.active {
    background-color: #ccc;
}

.collapsible.active + .content {
    max-height: 2000px;
}

.new-project {
    margin-bottom: -10px;
}

.new-project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.new-project-title-button {
    background: none;
    border: none;
    color: #2c3e50;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 0;
}

.new-project-live-link {
    text-decoration: none;
    margin-left: auto;
}

.new-project-live-icon {
    height: 20px;
    width: auto;
    vertical-align: middle;
    transition: transform 0.2s;
    cursor: pointer;
}

.new-project-live-icon:hover {
    transform: scale(1.1);
}

.new-project-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 0;
}

.new-project-modal-title {
    margin: 0;
    font-size: 20px;
    color: #2c3e50;
    font-weight: 600;
}

.new-project-modal-header-links {
    display: flex;
    gap: 15px;
}

.new-project-top-right-link {
    text-decoration: none;
}

.new-project-modal-icon {
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.2s;
}

.new-project-modal-icon:hover {
    transform: scale(1.1);
}

.new-project-modal-padding {
    padding: 20px;
}

.new-project-summary {
    font-size: 18px;
    color: #215e17;
    font-weight: 500;
    margin-bottom: 20px;
}

.new-list-title {
    font-weight: bold;
    font-size: 16px;
    color: #003366;
    margin-bottom: 10px;
    margin-top: 20px;
}

.new-styled-list {
    margin-left: 20px;
    padding: 0;
    list-style: none;
}

.new-styled-list li {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.5;
    padding-left: 15px;
    text-indent: -15px;
    font-weight: normal;
}

.new-styled-list li b {
    font-weight: bold;
}

.new-styled-list li::before {
    content: "• ";
    color: #003366;
    font-weight: bold;
}